# Dépendances
node_modules
npm-debug.log*

# Build
# dist - Nécessaire pour Docker
.vite

# Environnement
.env
.env.local
.env.production

# Git
.git
.gitignore

# Documentation
README.md
*.md

# Fichiers système
.DS_Store
Thumbs.db

# IDE
.vscode
.idea

# Logs
logs
*.log