# Dépendances
node_modules
package-lock.json
npm-debug.log*

# Build (maintenant buildé dans le conteneur)
dist
.vite

# Environnement
.env
.env.local
.env.production

# Git
.git
.gitignore

# Documentation
README.md
*.md

# Fichiers système
.DS_Store
Thumbs.db

# IDE
.vscode
.idea

# Logs
logs
*.log